/* Importando as fontes Cocogoose-Pro */

/* Regular */
@font-face {
    font-family: 'CocogooseProRegular';
    src: url('/fonts/Cocogoose-Pro-Regular-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Thin */
@font-face {
    font-family: 'CocogooseProThin';
    src: url('/fonts/Cocogoose-Pro-Thin-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Ultralight */
@font-face {
    font-family: 'CocogooseProUltralight';
    src: url('/fonts/Cocogoose-Pro-Ultralight-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'CocogooseProLight';
    src: url('/fonts/Cocogoose-Pro-Light-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Semilight */
@font-face {
    font-family: 'CocogooseProSemilight';
    src: url('/fonts/Cocogoose-Pro-Semilight-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Darkmode */
@font-face {
    font-family: 'CocogooseProDarkmode';
    src: url('/fonts/Cocogoose-Pro-Darkmode-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'CocogooseProBold';
    src: url('/fonts/Cocogoose-Pro-Bold-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Thin Italic */
@font-face {
    font-family: 'CocogooseProThinItalic';
    src: url('/fonts/Cocogoose-Pro-Thin-Italic-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Ultralight Italic */
@font-face {
    font-family: 'CocogooseProUltralightItalic';
    src: url('/fonts/Cocogoose-Pro-Ultralight-Italic-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Light Italic */
@font-face {
    font-family: 'CocogooseProLightItalic';
    src: url('/fonts/Cocogoose-Pro-Light-Italic-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Semilight Italic */
@font-face {
    font-family: 'CocogooseProSemilightItalic';
    src: url('/fonts/Cocogoose-Pro-Semilight-Italic-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Darkmode Italic */
@font-face {
    font-family: 'CocogooseProDarkmodeItalic';
    src: url('/fonts/Cocogoose-Pro-Darkmode-Italic-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Italic */
@font-face {
    font-family: 'CocogooseProItalic';
    src: url('/fonts/Cocogoose-Pro-Italic-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Bold Italic */
@font-face {
    font-family: 'CocogooseProBoldItalic';
    src: url('/fonts/Cocogoose-Pro-Bold-Italic-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Letterpress Regular */
@font-face {
    font-family: 'CocogooseProLetterpressRegular';
    src: url('/fonts/Cocogoose-Pro-Letterpress-Regular-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}